---
layout: layouts/post.njk
templateClass: tmpl-post
eleventyNavigation:
  key: About Me
  order: 3
---

<div class="card">
  <img src="https://pbs.twimg.com/profile_images/1246437254211477505/z3h5Ln7G_400x400.jpg" alt="John" style="width:100%">
  <h1>Sergio Contreras</h1>
  <p>Google Developer Expert in Web Technologies</p>
  <p>Software Engineer at BBVA</p>
  <div class="social">
    <span style="font-size: 24px;">
      <a href="https://twitter.com/sergicontre"><i class="fa fa-twitter"></i></a> 
    </span> 
    <span style="font-size: 24px;">
      <a href="https://github.com/sergicontre"><i class="fa fa-github"></i></a>
    </span>     
    <span style="font-size: 24px;">
      <a href="https://www.linkedin.com/in/sergiocontrerasmartin/"><i class="fa fa-linkedin"></i></a>
    </span>  
  </div>
  <p><a href="mailto:sergicontre@gmail.com"><button>Contact</button></a></p>
</div>
