---
layout: layouts/base.njk
eleventyNavigation:
  key: About Me
  order: 3
---
  
<div class="card">

  <div class="image-cropper">
    <img src="https://pbs.twimg.com/profile_images/1301122743811833857/XiXs7T3B_400x400.jpg" alt="avatar" class="profile-pic">
  </div>
  
  <h3>Sergio Contreras</h3>
  <p>Software Engineer at BBVA</p>
  <p>Google Developer Expert in Web Technologies</p>
  
  <div class="badget-container">
    <img src="../../img/images/gde.png"/>
  </div>

  <div class="social">
    <span style="font-size: 24px;">
      <a href="https://twitter.com/sergicontre"><i class="fa fa-twitter"></i></a> 
    </span> 
    <span style="font-size: 24px;">
      <a href="https://github.com/sergicontre"><i class="fa fa-github"></i></a>
    </span>     
    <span style="font-size: 24px;">
      <a href="https://www.linkedin.com/in/sergiocontrerasmartin/"><i class="fa fa-linkedin"></i></a>
    </span>  
  </div>
  <p><a href="mailto:sergicontre@gmail.com"><button>Contact</button></a></p>
</div>
